// @file
// Custom sass mixins
//
// Define the custom mixins for your project here.
// http://sass-lang.com/docs/yardoc/file.SASS_REFERENCE.html#defining_a_mixin

// Makes an element visually hidden, but accessible.
// @see http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
@mixin element-invisible {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  @if $legacy-support-for-ie6 or $legacy-support-for-ie7 {
    clip: rect(1px 1px 1px 1px); // IE6 and IE7 use the wrong syntax.
  }
  clip: rect(1px, 1px, 1px, 1px);
}

// Turns off the element-invisible effect.
@mixin element-invisible-off {
  position: static !important;
  clip: auto;
  height: auto;
  width: auto;
  overflow: auto;
}

// Makes an element visually hidden by default, but visible when focused.
@mixin element-focusable {
  @include element-invisible;

  &:active,
  &:focus {
    @include element-invisible-off;
  }
}

@mixin body-background {
    margin: 0;
    background:-webkit-gradient(linear, 80% 2%, 81% 100%, from(#000000), to(#FDFFFF));
}

@mixin texture-boxes{
    background: url('../images/texture-bg.png') repeat;
    border:solid 2px #B28500;
    -moz-border-radius: 17px;
    -webkit-border-radius: 17px;
    border-radius: 17px;
    margin: .357em;
    text-align: center;
    p{
        a{
            display: block;
            height: 2.5em;
            width: 10.714em;
            color: #ffffbf;
            background:-webkit-gradient(linear, 100% 1%, 100% 100%, from(#000000), to(#ACAC9D));
            border:solid 1px #000000;-moz-border-radius: 28px;-webkit-border-radius: 28px;border-radius: 28px;
            padding-top: 10px;
            font-weight: bold;
            margin: 0 auto;
        } 
        a:focus, a:hover{
            background:-webkit-gradient(linear, 100% 1%, 100% 100%, from(#000000), to(#FFFF00));
            border:solid 1px #000000;-moz-border-radius: 28px;-webkit-border-radius: 28px;border-radius: 28px;    
        }
        a:active{
            background:-webkit-gradient(linear, 100% 1%, 100% 100%, from(#000000), to(#FFFF00));
            border:solid 1px #000000;-moz-border-radius: 28px;-webkit-border-radius: 28px;border-radius: 28px;    
        }
    }
}

@mixin gradient-boxes{
     background:-webkit-gradient(linear, 80% 2%, 81% 100%, from(#FFDC73), to(#934C05));
    border:solid 2px #B28500;
-moz-border-radius: 17px;
-webkit-border-radius: 17px;
border-radius: 17px;

}